@model BIGSCHOOL.Models.ViewModels.CoursesViewModels
@{
    ViewBag.Title = "Home Page";
}


    <ul class="course" style="margin-top:15px;">
        @foreach (var course in Model.UpComingCourses)
        {
            <li style="padding:20px;">
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <p>
                        <span class="lecturer">
                            @course.Lecturer.Name
                            @if (Model.ShowAction)
                            {
                                <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                            }
                        </span>
                    </p>
                    
                    <p>
                        <span class="category">
                            @course.Category.Name
                        </span>
                        @if (Model.ShowAction)
                        {
                            <button data-course-id="@course.Id " class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                        }
                    </p>
                    
                </div>
            </li>
        }
    </ul>
@section scripts
{
<script>
    $(document).ready(function(){
        $(".js-toggle-attendance").click(function (e) {
            var button = $(e.target);
            $.post("api/attendances", { courseId: button.attr("data-course-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                })
                .fail(function () {
                    alert("Somethings failed !");
                });
        });

        $(".js-toggle-follow").click(function (e) {
            var button = $(e.target);
            $.post("api/followings", { followeeId: button.attr("data-user-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .text("Following");
                })
                .fail(function () {
                    alert("Somethings failed !");
                });
        });
    });
    </script>    
    
  }
